.container2{
    background-color: #73243c;
    border-top: 5px !important;
    color: #ffffff !important;
    
    .logofooter{
        /* ancho */
        width: auto;
        /* altura */
        height: 100px;
        padding-left: 40px;
    }
    .rights{
        padding-left: 20px;
        color: #ffffff !important;
    }
    .nav-link{
        color: #ffffff !important;
    }
    .links{
        padding-left: 30px;
    }
}